/*main styles--*/



body {
	background-color: #000;
	font-family: "Shojumaru", cursive;

}

.main {
	background-color: #fff;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.ryu {
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url("../images/ryu-ready-position.gif");
}

.ryu-still {
	background-image: url("../images/ryu-standing-still.png");
}

.ryu-throwing {
	background-image: url("../images/ryu-throwing-hadouken.png");
}
.hadouken {
	float: left;
	z-index: 35;
}
.ryu-cool {
	background-image: url("../images/ryu-cool.gif");
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}

.hadouken {
	background-image: url("../images/hadouken.gif");
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: relative;
	top: 167px;
	left: -222px;
}

.text-instructions {
	display: block;
	float:right;
	position: absolute;
	left: 600px;
	max-width: 455px;
	height: 500px;
	padding: 100px 75px 0 0;
	font-size: 14px;
	font-weight: bold;
}

.make-para {
	
	font-size: 30px;
	display: inline-block;
	float:  left;
	padding-right: 100px;
	padding-left:  35px;
	padding
	
}

.press-para {
	
	font-size: 30px;
	display: inline-block;
	padding-left: 100px;
	padding-top: 55px;
	position: relative;
	left: 150px;
	
	
}

/*layout*/




/*images*/




/*animations--*/



